@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
:root{
    /* ### Primary */

--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);

    /* ### Neutral */

--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Inter', sans-serif;
    justify-content: center;
    display: flex;
    min-height: 150vh;
}
.wrapper{
    padding-top: 90px;
    width: 1000px;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.berger{
    display: flex;
    float: right;
    display: none;
}
.nav{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: end;
}
.nav1:hover{
    color: var(--Soft-orange);
}
.mobile{
    display: none;
}
.x{
    display: none;
}
.nav1{
    text-decoration: none;
    font-family: 'Inter' sans-serif;
}
ul#menu.nav{
    width: 100%;
    display: none;
}
.wrap{
    padding-top: 20px;
    display: flex;
    gap: 20px;
}
.all{
    width: 669px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img9{
    width: 669px;
}
.all3{
    width: 50%;
    font-size: 60px;
    font-family: 'Inter' ,sans-serif;
    font-weight: 800;
}
.all2{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 20px;
    
}
.all25{
    width: 50%;
    display: inline-block;
}
.all3{
    width: 100%;
}
.space{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.all4{
    line-height: 25px;
    font-size: 15px;
    font-family: 'Inter' sans-serif;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
    padding-top: 10px;
    }
.btn{
    width: 60%;
    height: 20%;
    letter-spacing: 5px;
    color: var(--Off-white);
    background-color: var(--Very-dark-blue);
    margin-top: 65px;
}

.btn:hover{
    background-color: var(--Soft-orange);
    border: none;
    cursor: pointer;
}
.wrap2{
    width: 310px;
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
}
.wrap21{
    padding: 20px 20px 0 20px;
    line-height: 50px;
}
.des1{
    padding-top: 20px 0 10px 0;
    font-size: 15px;
    font-weight: 700;
}
.des:hover{
    color: var(--Soft-orange);
    cursor: pointer;
}
.des1:hover{
    color: var(--Soft-orange);
    cursor: pointer;
}
.des2{
    line-height: 20px;
    color: var(--Grayish-blue);
    font-size: 14px;
}
.hr1{
    margin-top: 50px;
}
.down{
    display: flex;
    padding-top: 30px;
    line-height: 40px;
    
}
.card{
        display: flex;
        gap: 10px;
    }
.card > .img1{
    width: 100px;
}
.num{
    font-weight: 700;
    color: var(--Grayish-blue);
}
.des5{
    font-weight: 800;
    font-size: 20px;
    color: var(--Very-dark-blue);
}
.des5:hover{
    color: var(--Soft-red);
    cursor: pointer;
}
.des6{
    line-height: 20px;
    font-weight: 400;
    font-size: 15px;
    color: var(--Dark-grayish-blue);
}
@media screen and (max-width: 1000px){
    .wrapper{
        width: 900px;
    }
    .wrap1{
        width: 600px;
    }
    .img9{
        width: 600px;
    }
    .all2{
        width: 600px;
    }
    .all3{
        font-size: 45px;
    }
    .btn{
        width: 170px;
        margin-top: 95px;
        height: 60px;
    }   
}
@media screen and (max-width: 900px){
    .wrapper{
        width: 700px;
    }
    .wrap1{
        width: 500px;
    }
    .all{
        width: 450px;
    }
    .img9{
        width: 450px;
    }
    .all2{
        width: 450px;
    }
    .all3{
        font-size: 40px;
    }
    .btn{
        width: 170px;
        margin-top: 220px;
        height: 60px;
    } 
}
@media screen and (max-width: 700px){
    .wrapper{
        width: 500px;
    }
    .wrap1{
        width: 300px;
    }
    .all{
        width: 250px;
    }
    .img9{
        width: 298px;
    }
    .all2{
        width: 250px;
        gap: 10px;
    }
    .all3{
        font-size: 30px;
    }
    .btn{
        width: 170px;
        margin-top: 340px;
        height: 60px;
    } 
}
@media screen and (max-width: 390px)
{
    .wrapper{
        width: 300px;
        min-height: 300vh;
    }
    .wrap{
        flex-direction: column;
        gap: 30px;
    }
    .aim{
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
    .nav{
        display: none; 
        align-items: flex-start;
               
        position: fixed;
        background-color: black;        /* top: 0; */
        right: 100;                
        margin-left: 50px;
        width: fit-content;
        height: 100%;        
        flex-direction: column;        
        font-size: 20px;
        line-height: 20px;
    }    
    #menu.nav{
        position: 0;
        display: none;
        left: 70px;
        right: 0px;
        height: 150vh;
        width: 150px;
        margin-right: 0px;
        background-color: white;
        top: 0;
        line-height: 10px;
    }
    .nav > li{
        color: var(--Very-dark-blue);        
        padding-top: 50px;
        padding-right: 20px;
        line-height: 10px;
    }
    li.active{
        left: 0;
        padding: 10px 90px 0 0;
    }
    .berger{
        display: flex;
    }
    .x{
        display: flex;
        margin-top: 100px;
        margin-left: 170px;
        margin-bottom: 50px;
    }
    .img9{
        display: none;
    }
    .mobile{
        width: 300px;
        display: flex;
    }
    .all{
        width: 300px;
        flex-direction: column;
    }
    .all2{
        display: flex;
        flex-direction: column;
    }
    .all25{
        width: 300px;
    }
    .space{
        flex-direction: column;
        width: 300px;
    }
    .all4{
        text-wrap: wrap;   
    }
    .btn{
        width: 150px;
        height: 50px;
        letter-spacing: 5px;
        color: var(--Off-white);
        background-color: var(--Soft-red);
        margin-top: 30px;
        border: none;
    }
    .down{
        flex-direction: column;
        gap: 30px;
    }
    .wrap2{
        width: 300px;
    }
}
